# v2022-08-27 [rivy]
# + local-start/end mods for `less`

# NOTE: Git GLOBSTAR syntax [see `git help gitignore`]
# * ref: [.gitignore] http://git-scm.com/docs/gitignore @@ http://archive.is/Rk6rO
# * ref: [Generate gitignore's](https://gitignore.io) ; eg, <https://gitignore.io/api/node>

# ignore intermediate/undistributed build artifacts
build
[._@#$]build
target

# ignore coverage data
coverage
[._@#$]coverage
.nyc_output

# ignore JS import/package-related files
node_modules
package-lock.json
yarn.lock

# ignore local-only VSCode artifacts
# * logs/settings
.vscode/c_cpp_properties.json
.vscode/makefile.extension.output
# * precompiled headers for IntelliSense
.vscode/ipch/

#!local-start

# `less` ~ most older Makefiles still generate artifacts *within* the source code folder

# ignore generated artifacts
# * executables
less
less.exe
lessecho
lessecho.exe
lesskey
lesskey.exe
# * depfiles
*.d
# * headers
defines.h
# * object files
*.o
*.obj

#!local-end
