# spell-checker:ignore (names/vars) DEFINETYPE funcs

SRC_PATH := .$()## path to source relative to makefile (defaults to first of ['src','source']); used to create ${SRC_DIR} which is then used as the source base directory path
DEPS = ${SRC_DIR}/defines.h ${SRC_DIR}/lib/less.h ${SRC_DIR}/lib/funcs.h ${SRC_DIR}/lib/cmd.h $()## manually-configured common/shared dependencies; note: use delayed expansion (`=`, not `:=`) if referencing a later defined variable (eg, `{SRC_DIR}/defines.h`)
LIBS := user32 $()## list of any additional required libraries (space-separated)

CFLAGS_clang :=  -Wno-comment -Wno-deprecated-declarations
CFLAGS_gcc :=  -Wno-comment -Wno-deprecated-declarations

DEFINETYPE := wn

defines.h: ./defines.${DEFINETYPE}
	@${CP} $(call %map,%shell_quote,$(call %map,%as_win_path,$< $@)) >${devnull}
	@${ECHO} $(call %shell_escape,$(call %info_text,created '$@' from '$<'.))
