# spell-checker:ignore (names/vars) CFLAGS DEFINETYPE funcs

SRC_PATH := .$()## path to source relative to makefile (defaults to first of ['src','source']); used to create ${SRC_DIR} which is then used as the source base directory path
DEPS = ./defines.h ./less.h ./funcs.h ./cmd.h $()## manually-configured common/shared dependencies; note: use delayed expansion (`=`, not `:=`) if referencing a later defined variable (eg, `{SRC_DIR}/defines.h`)
LIBS := user32 $()## list of any additional required libraries (space-separated)

INC_DIRS := ${BASEPATH}

CFLAGS_cl := $(if $(filter clang-cl,${CC}),-Wno-deprecated-non-prototype,)
CFLAGS_clang := -Wno-comment -Wno-deprecated-declarations -Wno-strict-prototypes
CFLAGS_gcc := -Wno-comment -Wno-deprecated-declarations
